# Directories to ignore
recordings/
tmp/
output/
whisper.cpp/
myenv/
audio/
.vscode/
__pycache__/
# Audio files
*.wav
*.mp3
*.m4a
*.ogg
*.flac

# Test files
button_test.py
led_test.py
test_noise_reduction.py
generate_noise_reduction_variants.py

# Output files
*.svg

# Other files
.lgd-nfy0

